<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webreact.mapper.post.sendemailMapper">
    <!-- ImageMapper.xml -->
    <!--  新增邮件服务-->
    <insert id="addemail" parameterType="com.example.webreact.entity.Email.Useremail">
        INSERT INTO popserver (user_email,user_id,type_id,pop_type,key_pop,nick)
        VALUES (#{user_email}, #{user_id}, #{type_id},#{pop_type}, #{key_pop},#{nick})
    </insert>


    <select id="select" parameterType="com.example.webreact.entity.Email.Useremail">
        select * from  popserver
    </select>

    <insert id="send_list" parameterType="com.example.webreact.entity.Email.EmailModel">
        INSERT INTO mymail (title,to_email,send_email,message,sendtime,state,url,user_id,pop_id)
        VALUES (#{title}, #{to_email}, #{send_email}, #{message},#{sendtime},#{state},#{url},#{user_id},#{pop_id})
    </insert>


    <select id="getlist_seng" parameterType="com.example.webreact.entity.basecat.UserInfo">
        select * from user_info where id=#{id}
    </select>

    <select id="data_list" resultType="map" parameterType="com.example.webreact.entity.Email.EmailModel">
        select * from mymail where user_id=#{user_id}
    </select>

    <!--  新增邮件服务-->
    <insert id="addPOPserver" parameterType="com.example.webreact.entity.Email.pop3_server">
        INSERT INTO pop3_server (user_id, pop3_typeid, smtp,Property)
        VALUES (#{user_id}, #{pop3_typeid}, #{smtp},#{Property})
    </insert>
<!-- c查询key-->
    <select id="pop_keytostring" parameterType="com.example.webreact.entity.Email.Useremail">
        select * from popserver where user_id=#{user_id} and user_email=#{user_email}
    </select>


    <!-- 协议查询-->
    <select id="pop_data" parameterType="com.example.webreact.entity.Email.pop3_stmp">
        select * from pop3_stmp where type_id=#{type_id} and pop_id=#{pop_id}
    </select>



    <!-- 查询添加的邮箱是否存在-->
    <select id="emailcount"  parameterType="com.example.webreact.entity.Email.Useremail">
        select * from popserver where user_email=#{user_email} and user_id=#{user_id}
    </select>

</mapper>