<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webreact.mapper.post.userMapper">
    <!-- userMapper.xml -->

    <!-- 注册 id=save方法-->
    <insert id="singup" parameterType="com.example.webreact.entity.basecat.UserInfo">
        INSERT INTO user_info (username, password, Email)
        VALUES (#{username}, #{password}, #{Email})
    </insert>
    <!-- 查询 id=login方法-->
    <select id="login" parameterType="com.example.webreact.entity.basecat.UserInfo">
       select * from user_info where username=#{username} or Email=#{username} and password=#{password}
    </select>
</mapper>